<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>login_mode</key>
  <string>["ms-oath-linkblue","anonymous"]</string>
  <key>rn_scoreboard_mode</key>
  <string>{"pointType":"spirit","showIcons":false,"showTrophies":true}</string>
  <key>countdowns</key>
  <string>[{"title":"Test Countdown","endTime":1661153698}]</string>
  <key>notifications_debug_mode</key>
  <string>false</string>
  <key>rn_shown_tabs</key>
  <string>["Events"]</string>
  <key>dbfunds_sync_config</key>
  <string>{"currentFiscalYears":["2023"]}</string>
  <key>valid_attributes</key>
  <string>{"spiritTeamId":{"type":"string"},"spiritCaptain":[{"value":true},{"value":false}],"marathonAccess":[{"value":true},{"value":false}],"committeeRank":[{"value":"advisor"},{"value":"overall-chair"},{"value":"chair"},{"value":"coordinator"},{"value":"committee-member"}],"dbRole":[{"value":"public"},{"value":"team-member"},{"value":"committee"}],"committee":[{"value":"tech-committee"},{"value":"corporate-committee"},{"value":"community-relations-committee"},{"value":"dancer-relations-committee"},{"value":"family-relations-committee"},{"value":"fundraising-committee"},{"value":"marketing-committee"},{"value":"mini-marathons-committee"},{"value":"morale-committee"},{"value":"operations-committee"},{"value":"overall-committee"},{"value":"programming-committee"}]}</string>
  <key>demo_mode_key</key>
  <string>Test Key 8748</string>
</dict>
</plist>